@import './../globals.scss';

.quinoa-timeline
{
    /*
     * Layout and layout-specific subcomponents styling
     */
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    overflow: hidden;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    user-select: none;

    flex-flow: row nowrap;
    flex-wrap: nowrap;
    /*
     * Mini sub components
     */
    .mini-timeline
    {
        position: relative;

        flex: 1;
        .mini-timeline-container
        {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;
        }
    }
    .main-timeline
    {
        position: relative;

        flex: 5;
        .main-timeline-container
        {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;
        }
        .timeline-captor
        {
            cursor: grab;

            fill-opacity: 0;
        }
    }
    .time-boundaries-container
    {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        pointer-events: none;
        #to-date,
        #from-date
        {
            position: absolute;
            left: $gutter-medium * 8;

            padding: $gutter-small;

            background: white;
        }
        #from-date
        {
            top: -$gutter-small;
        }
        #to-date
        {
            bottom: -$gutter-small;
        }
    }
    .labels-container
    {
        // pointer-events: none;
        .label-group
        {
            cursor: pointer;
            .background-rect
            {
                transition: fill-opacity .2s ease;

                fill-opacity: .8;
            }
            &.hidden
            {
                .background-rect
                {
                    fill-opacity: 0;
                }
            }
            &:hover,
            &.selected
            {
                rect,
                circle
                {
                    stroke: #000;
                }
                .background-rect
                {
                    stroke: #000;
                    fill-opacity: 1;
                }
            }
        }
    }
    .time-object-group
    {
        rect,
        circle
        {
            pointer-events: all;

            stroke: #fff;
        }
        &.selected
        {
            rect,
            circle
            {
                stroke: #000;
            }
        }
    }
    .brush-container
    {
        .brush-captor
        {
            cursor: resize;
            pointer-events: all;

            fill-opacity: 0;
        }
        .brush-rect
        {
            pointer-events: none;
            rect
            {
                fill: rgba(0,0,0,.3);
            }
        }
    }
    .ticks-container
    {
        .tick
        {
            line
            {
                stroke: rgba(0,0,0,.3);
            }
        }
    }
    .object-detail-container
    {
        overflow-y: auto;

        max-width: 0;

        transition: all .5s ease;

        flex: 1;
        &.active
        {
            max-width: 60em;
            padding: $gutter-medium;

            border-left: 1px solid #333;
        }
        .header
        {
            h2
            {
                font-size: 1em;
            }
        }
        .content
        {
            .source
            {
                font-size: .9em;
            }
        }
    }
    .grabbing
    {
        g
        {
            pointer-events: none;
        }
    }
}
