@import './../globals.scss';

.quinoa-timeline
{
    user-select: none;

    /*
     * Layout and layout-specific subcomponents styling
     */
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    flex-wrap: nowrap;
    /*
     * Mini sub components
     */
     .time-object
    {
        position: absolute;
        left: 0;

        pointer-events: all;

        &.hidden{
            opacity: .1;
        }
        .name-container
        {
            position: absolute;

            width: 30rem;
            .name
            {
                position: absolute;
                top: -$gutter-medium * .8;
                left: $gutter-medium;

                max-width: 20rem;
                .name-underline
                {
                    position: absolute;
                    top: $gutter-medium;
                    left: -$gutter-medium/2;

                    width: 100%;

                    border-top: $gutter-small/4 solid black;
                }
            }
        }
        .tooltip
        {
            position: absolute;
            z-index: 2;
            top: -$gutter-medium;
            left: $gutter-medium;

            width: 20rem;
            padding: $gutter-small;

            pointer-events: none;

            opacity: .0000001;
            border: $gutter-small/4 solid black;
            background: white;
            user-select: auto;

            @include transition(all $time-medium ease);
            &:hover
            {
                opacity: 1;
            }
        }
        .marker
        {
            position: absolute;

            width: .5em;
            height: .5em;

            border-radius: .5em;
            background: black;
        }
        &.period
        {
            width: 100%;
            .name
            {
                left: -$gutter-small;
            }
            .marker
            {
                right: $gutter-medium;
                
                width: 100%;
                height: 100%;

                border-radius: 0;
                position: absolute;
                left: 0;
                top: 0;
            }
            .tooltip
            {
                top: -$gutter-medium;
                left: -$gutter-small;
            }
        }
        &:hover
        {
            .name-container
            {
                opacity: .0000001;
            }
            .tooltip
            {
                pointer-events: all;

                opacity: 1;
            }
        }
    }
    .time-objects-container
    {
        position: absolute;
        top: 0;
        left: 0;

        display: flex;

        width: 100%;
        height: 100%;

        pointer-events: none;

        flex-flow: row nowrap;
        .columns-container
        {
            /*position: absolute;
            top: 0;
            left: 0;*/
            display: flex;

            width: 20%;
            height: 100%;

            flex: 1;
            flex-flow: row nowrap;
            .objects-column
            {
                position: relative;

                height: 100%;

                flex: 1;
            }
        }
    }
    .time-graduations-container
    {
        pointer-events: none;

        // @include transition(all $time-short ease);
        opacity: .5;
        .tick
        {
            position: absolute;
            left: 0;

            width: 100%;
            margin: 0;
            padding: 0;

            border-top: 1px solid darkblue;
            color: darkblue;

            // @include transition(all $time-short ease);

            .legend{
              background: white;
              position : relative;
              top : -.5em;
              padding-right: $gutter-small;
            }
        }
    }
    &.portrait
    {
        flex-direction: row;
    }
    &.landscape
    {
        flex-direction: column;
    }
    .mini-timeline
    {
        position: relative;

        flex: 1;

        .mini-timeline-container
        {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }

        // .time-objects-container
        // {
        //     display: flex;
        //     flex-flow: row nowrap;
        //     align-items: stretch;
        //     position: relative;
        //     .clusters-container
        //     {
        //         display: flex;
        //         flex-flow: row nowrap;
        //         align-items: stretch;
        //         position: relative;
        //     }
        //     .cluster{
        //         flex: 1;
        //         position: relative;
        //     }
        // }
    }
    .main-timeline
    {
        position: relative;

        flex: 5;

        .main-timeline-container
        {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }

        .controls-container
        {
            position: absolute;
            top: $gutter-medium;
            right: $gutter-medium;
        }
    }
    .time-boundaries-container
    {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        #to-date,
        #from-date
        {
            position: absolute;
            left: $gutter-medium * 8;

            padding: $gutter-small;

            background: white;
        }
        #from-date
        {
            top: -$gutter-small;
        }
        #to-date
        {
            bottom: -$gutter-small;
        }
    }
    .time-objects-container
    {
        width: 60%;
    }
}
