@import './../globals.scss';

.quinoa-timeline
{
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    overflow: hidden;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    flex-wrap: nowrap;
    &.portrait
    {
        flex-direction: row;
    }
    &.landscape
    {
        flex-direction: column;
    }
    .mini-timeline
    {
        position: relative;

        flex: 1;
        .time-object
        {
            .name
            {
                display: none;
            }
        }
        .brush
        {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 1%;

            cursor: move;

            opacity: .5;
            background: lightgrey;
            &:hover
            {
                opacity: 1;
            }
        }
    }
    .main-timeline
    {
        position: relative;

        flex: 5;
        .controls-container
        {
            position: absolute;
            top: $gutter-medium;
            right: $gutter-medium;
        }
        .time-boundaries-container
        {
            #to-date,
            #from-date
            {
                position: absolute;
                left: $gutter-medium;

                padding: $gutter-small;

                background: lightgrey;
            }
            #from-date
            {
                top: 0rem;
            }
            #to-date
            {
                bottom: 0rem;
            }
        }
    }
    /*
     * Mini sub components
     */
    .time-objects-container
    {
        position: absolute;
        top: 0;
        left: 0;

        display: flex;

        width: 60%;
        height: 100%;

        pointer-events: none;

        flex-flow: row nowrap;
        .columns-container
        {
            /*position: absolute;
            top: 0;
            left: 0;*/
            display: flex;

            width: 20%;
            height: 100%;

            flex: 1;
            flex-flow: row nowrap;
            .objects-column
            {
                position: relative;

                height: 100%;

                flex: 1;
                .time-object
                {
                    position: absolute;
                    right: 0;

                    pointer-events: all;
                    .name
                    {
                        position: absolute;
                        top: -$gutter-small/2;
                        left: $gutter-medium;

                        width: 20rem;
                    }
                    .marker
                    {
                        position: absolute;

                        width: 10px;
                        height: 10px;

                        border-radius: 10px;
                        background: black;
                    }
                    &.period
                    {
                        .name
                        {
                            left: -$gutter-small;
                        }
                        .marker
                        {
                            right: $gutter-medium;

                            height: 100%;

                            border-radius: 0;
                            background: red;
                        }
                    }
                }
            }
        }
    }
    .time-graduations-container
    {
        pointer-events: none;

        content-selectable: false;
        @include transition(all $time-short ease);
        .tick
        {
            position: absolute;
            left: 0;

            width: 100%;
            margin: 0;
            padding: 0;

            border-top: 1px solid black;

            @include transition(all $time-short ease);
        }
    }
}
