/**
 * quinoa-vis-module svg style definitions
 * ============
 * Please keep style definitions nested in order to ease
 * scss code reading accross files
 */
@import './../globals.scss';

// root selector of the component styles
.quinoa-svg
{
    @extend .absolute-fill;

    overflow: hidden;

    .svg-container
    {
        @extend .absolute-fill;
        position: relative;
    }
    .grabbable
    {
        width: auto;
        height: auto;

        @include grabbable();
        @include transition(transform $time-medium ease-in);
    }
    /* (Optional) Apply a "closed-hand" cursor during drag operation. */
    .grabbable:active
    {
        @include grabbing()
    }
}
