/**
 * quinoa-vis-module map style definitions
 * ============
 * Please keep style definitions nested in order to ease
 * scss code reading accross files
 */
@import './../globals.scss';

// exceptionnally we put leaflet overriding styling rules
// outside the root selector
.leaflet-container
{
    width: 100%;
    height: 100%;
}

.leaflet-control-attribution.leaflet-control
{
    display: none;
}
// root selector of the component styles
.quinoa-map
{
    @extend .absolute-fill;

    overflow: hidden;

    user-select: none;
    /*
     * Layout and layout-specific subcomponents styling
     */
    .map-wrapper
    {
        @extend .absolute-fill;

        overflow: hidden;
    }
    // styling for the path markers svgs on the map
    path{
        stroke-width: 2;
    }
    .point-marker-icon
    {
        width: 100%;
        height: 100%;

        cursor: pointer;
        .shape
        {
            @extend .absolute-fill;
            border: 1px solid white;// @todo: parametrize that in globals.scss
            border-radius: 50%;// @todo: parametrize that in globals.scss
        }
    }
    // case the component cannot be panned/zoom
    // --> hide controls and put an invisible div on top of the component
    // @todo : this is dirty
    &.locked
    {
        .leaflet-control
        {
            display: none;
        }
        .locked-mode-cache
        {
            @extend .absolute-fill;
            z-index: 1;
        }
        .leaflet-objects-pane
        {
            z-index: 20000;
        }
    }
}
