/**
 * quinoa-vis-module network style definitions
 * ============
 * Please keep style definitions nested in order to ease
 * scss code reading accross files
 */
@import './../globals.scss';

// root selector of the component styles
.quinoa-network
{
    @extend .absolute-fill;

    overflow: hidden;

    #sigma-container
    {
        width: 100%;
        height: 100%;
    }
}
